@font-face {
    font-family: PP mori;
    src: url(./ppmori.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: PP mori;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

#purple {
    height: 100vh;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 100;
    background-color: #EDBFFF;
    opacity: 0;
    display: none;
    align-items: center;
    transition: opacity ease 1s;
    overflow: hidden;
    white-space: nowrap;


}

.marquee {
    display: inline-flex;
    animation: scroll 10s linear infinite;
}

.marquee span {
    font-size: 7vw;
    color: #111;
    margin-right: 2rem;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-40%);
    }
}

.cursor {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: fixed;
    background-color: #EDBFFF;
    z-index: 101;
    background-position: center;
    background-size: cover;
    mix-blend-mode: difference;
    transform: translate(-50%, -50%);
    pointer-events: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.main {
    min-height: 100vh;
    background-color: #0F0D0D;
    /* cursor: none; */
}

.page1 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 12vw;
}


#nav {
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: fixed;
    mix-blend-mode: difference;
    z-index: 102;
}

#nav img {
    height: 27px;
}

#nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#nav #circle {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #fff;
}

#nav h4 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}

#nav h4:nth-child(1) {
    border-bottom: 1.5px solid #fff;
}

.page1 h1 {
    font-size: 8vw;
    font-weight: 300;
    font-family: PP mori;
    margin-left: 6vw;
    transform-origin: left;
    overflow: hidden;
}

.page1 h1 span,
.page1 h2 span {
    transform-origin: left bottom;
    display: inline-block;

}

.page1 h2 {
    font-size: 8vw;
    font-weight: 300;
    transform-origin: left;
    margin-left: 26vw;
    overflow: hidden;
}

.page1 video {
    width: 60%;
    margin-top: 10vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.page2 {
    min-height: 80vh;
    width: 100%;
    padding: 100px 5vw;
    border-bottom: 2px solid #6c6c6c;
    position: relative;
    z-index: 9;
}

.page2 h1 {
    font-size: 7vw;
    font-weight: 500;
    color: #111;
    padding-bottom: 50px;

}

.page2-container {
    height: 60vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 0 5vw; */
}

.page2-left {
    /* background-color: blue; */
    width: 40%;
}

.page2-right {
    /* background-color: blue; */
    width: 24%;
}

.page2-left h2 {
    font-size: 4vw;
    font-weight: 300;
    color: #111;
    line-height: 4vw;
}

.page2-right p {
    font-size: 2vw;
    color: #111;
}

.page2-right button {
    font-size: 1.3rem;
    width: 100%;
    border-radius: 50px;
    border: none;
    padding: 7px 0;
    background-color: #EDBFFF;
    color: #111;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.page2-right button:hover {
    background-color: #111;
    color: #fff;
}

.page3 {
    min-height: 100vh;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    position: relative;
    z-index: 9;
    border-bottom: 1px solid;
    border-bottom-color: black;
}

.page3 h1 {
    font-size: 6.8vw;
    font-weight: 300;
    color: #111;
    margin-left: 100px;
}

.page3-part1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

.page3-part1 img {
    height: 400px;
    margin-top: 160px;
}

.page3-part1 video {
    height: 400px;
    margin-top: 40px;
}

.page4 {
    min-height: 100vh;
    width: 100%;
    z-index: 9;
    position: relative;
    padding: 170px 100px;
    border-bottom: 1px solid;
    border-bottom-color: #dadada;
    mix-blend-mode: difference;
}

.page4 .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

/* .page4 h4{
    text-align: center;
} */

.elem {
    /* background-color: salmon; */
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.elem img {
    position: absolute;
    transition: all ease 0.5s;
    transform: translateY(10%) rotate(2deg);
    opacity: 0;

}

.elem img:nth-child(1) {
    left: 10%;
    height: 40vh;
}

.elem img:nth-child(3) {
    right: 5%;
    height: 40vh;
}


/* .elem img:nth-child(3){
    right: 5%;
} */
.text-div {
    height: 15vh;
    position: relative;
    z-index: 9;
    overflow: hidden;
}

.elem h1 {
    font-size: 7.5vw;
    font-weight: 600;
    transition: all ease-out 0.5s;
}

.elem:hover h1 {
    transform: translateY(-100%);
    color: #EDBFFF;
}

.elem:hover img {
    transform: rotate(0);
    opacity: 1;
}


.page5 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 9;
    padding: 140px 100px;
}

.page5 .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page5 h2 {
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 30px;
}

.page5 h2 span {
    color: #EDBFFF;
}

.page5 h5 {
    cursor: pointer;
    font-weight: 100;
    text-transform: uppercase;
    transform: translateY(-50%);
    font-size: 1vw;
}



.box {
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 10px;
    border-top: 2px solid #dadada;
}

.box:hover {
    cursor: none;
}

.box h3,
.box h4 {
    font-size: 1.3vw;
    color: #6c6c6c;
    font-weight: 100;
    transition: all 0.3s ease;
}

.box:hover h3,
.box:hover h4 {
    color: #fff;
}

.box .award-type {
    display: flex;
    gap: 60px;
}

.box:nth-last-child(1) {
    border-bottom: 2px solid #dadada;

}

footer {
    min-height: 100vh;
    width: 100%;
    background-color: #EDBFFF;
    padding: 150px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .section-1 {
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #111;
}

footer .section-1 .text h2 {
    color: #111;
    font-size: 3vw;
}


footer .section-1 .circle {
    height: 150px;
    width: 150px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color ease 0.3s;
    cursor: none;

}

footer .section-1 .circle p {
    transition: color ease 0.3s;
    color: #111;
}

footer .section-1 .circle:hover {
    background-color: #111;
}

footer .section-1 .circle:hover p {
    color: #fff;
}

footer .section-2 {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .section-2 .left h4 {
    font-size: 2vw;
    color: #111;
    font-weight: 100;
    padding-bottom: 30px;
}

footer .section-2 .subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #111;
}

footer .section-2 .subscribe input {
    border: none;
    padding: 20px 0;
    background-color: transparent;
    font-size: 1.3vw;
    outline: none;
    color: #6c6c6c;
}

footer .section-2 .subscribe input[type="submit"] {
    color: #111;
    border: 1px solid #111;
    border-radius: 20px;
    padding: 10px 20px;
    height: fit-content;
    transition: all ease 0.3s;
    font-size: 1vw;
}

footer .section-2 .subscribe input[type="submit"]:hover {
    color: #fff;
    background-color: #111;
}

footer .left p {
    color: #111;
    margin-top: 40px;
}

footer .section-2 .right p {
    color: #111;
    font-size: 1.5vw;
}